In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [3]:
# dataset loading
df = pd.read_csv('Churn_Modelling.csv')

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
# Preprocess the data
# drop irrelevant columns
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [6]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
# Encode the categorical data
label_encoder = LabelEncoder()  
df['Gender'] = label_encoder.fit_transform(df['Gender'])

In [8]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [9]:
# onehot encoding geography column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder = OneHotEncoder()
onehot_encoded = onehot_encoder.fit_transform(df[['Geography']])

In [10]:
onehot_encoded

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [11]:
onehot_encoder.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [12]:
encoded=pd.DataFrame(onehot_encoded.toarray(), columns=onehot_encoder.get_feature_names_out(['Geography']))

In [13]:
encoded.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [14]:
df = pd.concat([df.drop('Geography',axis=1), encoded], axis=1)

In [15]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [16]:
# Save the encoders and scaler
with open('label_encoder.pkl', 'wb') as f:
    pickle.dump(label_encoder, f)

with open('onehot_encoder.pkl', 'wb') as f:
    pickle.dump(onehot_encoder, f)

In [17]:
# Splitting the data into training and testing
X = df.drop('Exited', axis=1)
y = df['Exited']


# Splitting the data into training and testing
# random_state = 42
# meaning that the split will always be the same
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
X_train.shape

(8000, 12)

In [19]:
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

ANN Classification implementation using Python

In [20]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
from tensorflow.keras.metrics import Recall
import datetime
import pickle

In [21]:
model = Sequential([
    Dense(units=64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(units=32, activation='relu'),
    Dense(units=1, activation='sigmoid')
])

C:\Users\Pranav\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [22]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [23]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [24]:
# Compile the model with recall as a metric
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy', Recall()])

In [25]:
# Setup the tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [26]:
early_stopping_callback = EarlyStopping(monitor='val_recall', mode='max', patience=10, restore_best_weights=True)

In [27]:
# Train the model
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,
                  callbacks=[tensorflow_callback,early_stopping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7436 - loss: 0.5176 - recall: 0.1750 - val_accuracy: 0.8390 - val_loss: 0.3868 - val_recall: 0.2926
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8394 - loss: 0.3902 - recall: 0.3262 - val_accuracy: 0.8570 - val_loss: 0.3511 - val_recall: 0.4606
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8573 - loss: 0.3566 - recall: 0.4489 - val_accuracy: 0.8590 - val_loss: 0.3461 - val_recall: 0.4300
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8546 - loss: 0.3468 - recall: 0.4433 - val_accuracy: 0.8530 - val_loss: 0.3509 - val_recall: 0.4656
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8566 - loss: 0.3397 - recall: 0.4550 - val_accuracy: 0.8605 - val_loss: 0.3485 - val_recall: 0.4198
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8611 - loss: 0.3379 - recall: 0.4457 - val_accuracy: 0.8635 - val_loss: 0.3425 - val_recall: 0.5013
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8549 - loss: 0.3445 - recall: 0.4811 - val_accuracy: 0.8610 - val_loss: 0.3427 - val_recall: 0.4631
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8609 - loss: 0.3241 - recall: 0.4801 - val_accuracy: 0.8615 - val_loss: 0.3440 - val_recall: 0.5318
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8679 - loss: 0.3209 - recall: 0.4995 - val_accuracy: 0.8620 - val_loss: 0.3410 - val_recall: 0.4936
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8588 - loss: 0.3306 - recall: 0.4995 - val_accuracy: 0.8585 - val_loss: 0.3460 - val_recall: 0.5267
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8584 - loss: 0.3286 - recall: 0.4809 - val_accuracy: 0.8605 - val_loss: 0.3431 - val_recall: 0.4682
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8649 - loss: 0.3207 - recall: 0.4877 - val_accuracy: 0.8615 - val_loss: 0.3413 - val_recall: 0.4962
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8663 - loss: 0.3298 - recall: 0.4852 - val_accuracy: 0.8600 - val_loss: 0.3431 - val_recall: 0.4911
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8663 - loss: 0.3187 - recall: 0.5171 - val_accuracy: 0.8650 - val_loss: 0.3426 - val_recall: 0.5089
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8620 - loss: 0.3204 - recall: 0.4937 - val_accuracy: 0.8620 - val_loss: 0.3450 - val_recall: 0.5344
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8673 - loss: 0.3213 - recall: 0.5297 - val_accuracy: 0.8610 - val_loss: 0.3378 - val_recall: 0.5038
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8698 - loss: 0.3050 - recall: 0.5145 - val_accuracy: 0.8585 - val_loss: 0.3464 - val_recall: 0.4911
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8683 - loss: 0.3132 - recall: 0.5203 - val_accuracy: 0.8610 - val_loss: 0.3415 - val_recall: 0.4656
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8661 - loss: 0.3119 - recall: 0.4885 - val_accuracy: 0.8595 - val_loss: 0.3453 - val_recall: 0.4377
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8778 - loss: 0.3026 - recall: 0.5320 - val_accuracy: 0.8610 - val_loss: 0.3417 - val_recall: 0.4860
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8743 - loss: 0.3042 - recall: 0.5177 - val_accuracy: 0.8600 - val_loss: 0.3425 - val_recall: 0.4580
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8690 - loss: 0.3104 - recall: 0.5046 - val_accuracy: 0.8590 - val_loss: 0.3485 - val_recall: 0.5445
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8761 - loss: 0.2970 - recall: 0.5396 - val_accuracy: 0.8600 - val_loss: 0.3449 - val_recall: 0.5038
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8689 - loss: 0.3059 - recall: 0.5337 - val_accuracy: 0.8550 - val_loss: 0.3482 - val_recall: 0.5191
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8729 - loss: 0.3009 - recall: 0.5288 - val_accuracy: 0.8600 - val_loss: 0.3430 - val_recall: 0.5115
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8818 - loss: 0.2856 - recall: 0.5274 - val_accuracy: 0.8550 - val_loss: 0.3466 - val_recall: 0.5064
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8660 - loss: 0.3120 - recall: 0.5240 - val_accuracy: 0.8565 - val_loss: 0.3480 - val_recall: 0.4656
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8726 - loss: 0.3016 - recall: 0.5135 - val_accuracy: 0.8560 - val_loss: 0.3501 - val_recall: 0.5471
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8720 - loss: 0.3011 - recall: 0.5247 - val_accuracy: 0.8620 - val_loss: 0.3483 - val_recall: 0.4987
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8739 - loss: 0.2926 - recall: 0.5382 - val_accuracy: 0.8550 - val_loss: 0.3471 - val_recall: 0.4504
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8727 - loss: 0.2989 - recall: 0.5411 - val_accuracy: 0.8500 - val_loss: 0.3501 - val_recall: 0.4402
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8776 - loss: 0.2971 - recall: 0.5265 - val_accuracy: 0.8555 - val_loss: 0.3481 - val_recall: 0.4733
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8782 - loss: 0.2981 - recall: 0.5478 - val_accuracy: 0.8545 - val_loss: 0.3495 - val_recall: 0.5064
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8762 - loss: 0.2920 - recall: 0.5413 - val_accuracy: 0.8605 - val_loss: 0.3522 - val_recall: 0.4326
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8755 - loss: 0.2937 - recall: 0.5312 - val_accuracy: 0.8570 - val_loss: 0.3499 - val_recall: 0.4606
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8760 - loss: 0.2975 - recall: 0.5440 - val_accuracy: 0.8555 - val_loss: 0.3531 - val_recall: 0.4275
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8754 - loss: 0.2979 - recall: 0.5501 - val_accuracy: 0.8570 - val_loss: 0.3505 - val_recall: 0.4784
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8733 - loss: 0.2930 - recall: 0.5300 - val_accuracy: 0.8555 - val_loss: 0.3534 - val_recall: 0.4377

In [28]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [29]:
# load tensorboard extension
%load_ext tensorboard

In [30]:
%tensorboard --logdir logs/fit

In [31]:
test_loss, test_accuracy, test_recall = model.evaluate(X_test, y_test)
print(f"Test Accuracy: {test_accuracy:.4f}")
print(f"Test Recall: {test_recall:.4f}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 734us/step - accuracy: 0.8537 - loss: 0.3471 - recall: 0.5354
Test Accuracy: 0.8560
Test Recall: 0.5471

In [32]:
y_pred = model.predict(X_test)
y_pred_classes = (y_pred > 0.5).astype(int)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [33]:
from sklearn.metrics import confusion_matrix, classification_report
cm = confusion_matrix(y_test, y_pred_classes)
print("Confusion Matrix:")
print(cm)

Confusion Matrix:
[[1497  110]
 [ 178  215]]

In [34]:
# Print classification report
print("\nClassification Report:")
print(classification_report(y_test, y_pred_classes))

Classification Report:
              precision    recall  f1-score   support

           0       0.89      0.93      0.91      1607
           1       0.66      0.55      0.60       393

    accuracy                           0.86      2000
   macro avg       0.78      0.74      0.76      2000
weighted avg       0.85      0.86      0.85      2000

In [35]:
best_recall = max(history.history['val_recall'])
best_epoch = history.history['val_recall'].index(best_recall)
best_model = tf.keras.models.load_model('model.h5')
best_model.set_weights([history.model.get_weights()[i] for i in range(len(history.model.get_weights()))])
best_model.save('best_recall_model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.
WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [36]:
print(f"Best validation recall: {best_recall:.4f} at epoch {best_epoch + 1}")

Best validation recall: 0.5471 at epoch 28